@import url('https://fonts.googleapis.com/css?family=Raleway');

/* Variabili di colore */
:root {
    --color-primary: #232323; /* Testo grigio scuro */
    --color-secondary: #ddd; /* Sfondo grigio chiaro */
    --color-accent: #f4a261; /* Colore accento caldo */
    --color-white: #fff; /* Bianco */
}

/* Reset di default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stili base */
body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    color: var(--color-primary);
    background-color: var(--color-white);
}

/* Sezioni generiche */
section {
    padding: 60px 0;
    text-align: center;
}

/* Stili personalizzati per la navbar */
.navbar {
    background-color: var(--color-white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--color-primary);
}

/* Effetto hover "brackets" per la navbar */
.navbar-nav .nav-link {
    position: relative;
    display: inline-block;
    margin: 0 7px;
    outline: none;
    color: var(--color-primary); /* Colore nero */
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1rem;
    transition: color 0.3s ease; /* Animazione fluida sul colore */
}

.navbar-nav .nav-link::before,
.navbar-nav .nav-link::after {
    display: inline-block;
    opacity: 0;
    transition: transform 0.3s, opacity 0.2s;
    color: var(--color-accent);
}

.navbar-nav .nav-link::before {
    content: '[';
    margin-right: 10px;
    transform: translateX(20px); /* Brackets iniziano spostati a destra */
}

.navbar-nav .nav-link::after {
    content: ']';
    margin-left: 10px;
    transform: translateX(-20px); /* Brackets iniziano spostati a sinistra */
}

.navbar-nav .nav-link:hover::before,
.navbar-nav .nav-link:hover::after {
    opacity: 1;
    transform: translateX(0); /* I brackets si muovono verso il testo */
}

.navbar-nav .nav-link:hover {
    color: var(--color-primary); /* Mantieni il testo nero su hover */
}


/* Stili per le sezioni */
#home {
    background-color: var(--color-secondary);
    border-bottom: 5px solid var(--color-accent);
}

#about {
    background-color: var(--color-white);
}

#portfolio {
    background-color: var(--color-secondary);
}

    /** Hamburger Menu **/
    .navbar-toggler {
        border: none; /* Rimuove qualsiasi bordo visibile */
        box-shadow: none; /* Elimina eventuali ombre */
        outline: none; /* Assicurati che non ci sia outline */
    }

    .navbar-toggler:focus {
        outline: none; /* Rimuove il bordo predefinito del focus */
        box-shadow: none; /* Rimuove l'ombra del focus */
    }

    .animated-icon2 {
        width: 30px;
        height: 20px;
        position: relative;
        margin: 0px;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        cursor: pointer;
    }

    .animated-icon2 span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        background: var(--color-primary); /* Grigio scuro per le linee del menu */
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
    }

    .animated-icon2 span:nth-child(1) {
        top: 0px;
    }

    .animated-icon2 span:nth-child(2),
    .animated-icon2 span:nth-child(3) {
        top: 10px;
    }

    .animated-icon2 span:nth-child(4) {
        top: 20px;
    }

    .animated-icon2.open span:nth-child(1) {
        top: 11px;
        width: 0%;
        left: 50%;
    }

    .animated-icon2.open span:nth-child(2) {
        transform: rotate(45deg);
        background: var(--color-accent); /* Arancione caldo per l'icona aperta */
    }

    .animated-icon2.open span:nth-child(3) {
        transform: rotate(-45deg);
        background: var(--color-accent); /* Arancione caldo per l'icona aperta */
    }

    .animated-icon2.open span:nth-child(4) {
        top: 11px;
        width: 0%;
        left: 50%;
    }

/* Custom styles for the portfolio carousel */
.carousel-img {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    border-radius: 15px;
}

.carousel-img img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.carousel-img:hover img {
    transform: scale(1.1); /* Leggero zoom sull'immagine quando ci si passa sopra */
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente */
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carousel-img:hover .carousel-overlay {
    opacity: 1; /* Appare al passaggio del mouse */
}

.carousel-text {
    color: var(--color-primary); /* Colore primario per il testo */
    background-color: var(--color-secondary); /* Sfondo secondario per il testo */
    padding: 20px;
    border-radius: 5px;
}

.carousel-text h5, .carousel-text p {
    margin: 0;
    color: var(--color-primary); /* Assicuriamoci che il testo sia leggibile */
    margin-bottom: 10px;
}

.carousel-text a {
    background-color: var(--color-accent); /* Bottone con colore accento */
    color: var(--color-primary);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

/* Stile base delle frecce */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--color-secondary) !important; /* Background color secondary */
    border-radius: 50%; /* Arrotondamento */
    padding: 15px;
    color: var(--color-white) !important; /* Colore freccia */
    border: 1px solid var(--color-primary) !important; /* Bordo color primary */
    transition: all 0.3s ease; /* Transizione per lo spostamento e il cambiamento di colore */
}

/* Effetto hover sulle frecce */
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: var(--color-accent) !important; /* Cambia il background a primary */
    color: var(--color-primary) !important; /* Colore freccia primary su hover */
    transform: translateX(-10px); /* Spostamento leggero verso sinistra per la freccia di sinistra */
}

.carousel-control-next-icon:hover {
    transform: translateX(10px) !important; /* Spostamento leggero verso destra per la freccia di destra */
}

@media (max-width: 768px) {
    .carousel-img {
        height: auto;
    }

    .carousel-overlay {
        background-color: rgba(0, 0, 0, 0.7); /* Sfondo più scuro per i dispositivi mobili */
    }
}

/* Stile di base del pulsante */
.btn-custom {
    background-color: var(--color-secondary); /* Colore grigio */
    border-color: var(--color-primary); /* Colore nero */
    color: var(--color-primary); /* Colore nero */
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Effetto hover per il pulsante */
.btn-custom:hover {
    background-color: var(--color-accent); /* Colore arancione */
    border-color: var(--color-primary); /* Colore nero */
    color: var(--color-primary) !important; /* Testo nero */
}


/* Contatti */
#contact {
    background: var(-color-white);
    padding: 3em 1em;
    text-align: center;
    padding-bottom: 10px;
}

    /* Email */
    /* Effetto hover "brackets" per l'email */
    .contact-email a {
        position: relative;
        display: inline-block;
        color: var(--color-primary); /* Nero */
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: normal; /* Imposta il peso del font a normale */
    }

    .contact-email a::before,
    .contact-email a::after {
        display: inline-block;
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
        color: var(--color-accent); /* Colore delle parentesi (arancione) */
    }

    .contact-email a::before {
        content: '[';
        margin-right: 7px;
        transform: translateX(20px);
    }

    .contact-email a::after {
        content: ']';
        margin-left: 7px;
        transform: translateX(-20px);
    }

    .contact-email a:hover::before,
    .contact-email a:hover::after {
        opacity: 1;
        transform: translateX(0);
    }

    /* Mantieni il colore dell'email nero anche durante l'hover */
    .contact-email a:hover {
        color: var(--color-primary); /* Mantieni il testo nero */
    }
    

/* Icone Social */
.social-icons a {
    margin: 0 15px;
    font-size: 2rem;
    color: var(--color-primary);
    transition: color 0.3s ease;
}

/* Ingrandimento icone social all'hover con specificità maggiore */
.social-icons a i:hover {
    color: var(--color-accent);
    transform: scale(1.2); /* Le icone crescono leggermente */
    transition: transform 0.3s ease, color 0.3s ease; /* Transizione fluida */
}


    /* Bottone "Scroll to Top" */
    #return-to-top {
        background: var(--color-secondary);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        color: var(--color-white);
        transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
        opacity: 0;
        bottom: 60px;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #return-to-top.show {
        opacity: 1;
    }

    #return-to-top:hover {
        background-color: var(--color-accent); /* Colore arancione */
        color: var(--color-primary); /* Colore nero per la freccia */
        transform: translateY(-5px); /* Sposta la freccia leggermente verso l'alto */
    }

/* Footer */
footer {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 20px 0;
    text-align: center;
    font-size: 0.9rem;
}

/* Effetti responsive */
@media (max-width: 768px) {
    .project-container {
        grid-template-columns: 1fr;
    }
}

/* Dark Mode */
body.dark-mode {
    --color-primary: #f0f0f0; /* Colore del testo */
    --color-secondary: #333;  /* Sfondo delle sezioni */
    --color-accent: #ff7f50;  /* Colore accento */
    background-color: #121212;
}

.dark-mode .navbar {
    background-color: var(--color-secondary-dark) !important; /* Sostituisci con un colore di sfondo più scuro per la modalità dark */
    background-color: #333; /* Navbar più scura */
}

.dark-mode .about {
    background-color: var(--color-secondary-dark) !important; /* Sostituisci con un colore di sfondo più scuro per la modalità dark */
    color: var(--color-white); /* Testo bianco per migliorare la leggibilità */
}

.dark-mode .carousel-img img {
    border: 1px solid #555; /* Bordo sottile per contrasto */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--color-accent); /* Colore accento */
    transition: transform 0.3s ease;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    transform: translateX(-10px); /* Leggero spostamento per la freccia sinistra */
    color: var(--color-primary); /* Colore freccia in hover */
}
